.container{
  background: url("../../mayur/img/managegoal-test-prep-light.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: right;
  width:50%;
  font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size : 20px;
  font-weight: 700px;
  color: rgb(60, 72, 82);
  margin : auto
   }
   .main{
     display: block;
     /* margin-left: 20px; */
     width: 50%;
   }
   h2{
     margin-bottom: -20px;
   }
   .green{
     color:rgb(10,190,129);
     margin-top: 5px;
     font-size: 14px;
   }
  
   .btn{
     background-color:rgb(10,190,129) ;
     padding:1%;
     width:150px;
     height:44px;
     margin-top:13px
   }
   .footer{
     
     margin-top:20%
   }
   .cros{
     font-size: 31px;
     margin-left: 430px;
     margin-top: -40px;
     margin-bottom: 40px;
   }
   .cros:hover{
     cursor: pointer
   }
   .form{
   
     margin-top:30px;
     margin-left: 28px;
    
   }
   
  .cont1{
    width:50%;
    margin-left:190px;
}
.inp{
  width:350px;
  margin-bottom: 20px;
  padding-left: 10%;
}